.homeWrapper {
  // width: 100%;
  display: flex;

  .homepageRight {
    flex: 5;
      overflow: auto;


      .homeMainWrapper {
        padding: 30px 64px;
        height: calc(100vh - 50px);
          overflow-y: auto;
          display: flex;
          flex-direction: column;

        .homeMainTop {
          width: 100%;

          display: flex;
          overflow-x: auto;
          gap: 20px;
          min-height: 160px;
            max-height: 160px;
        }

        // .homeMainTop {
        //   display: flex;
        //   justify-content: space-between;
        // }

        .homeMainBottom {
          // & > h3 {
          //   color: var(--text-silver-color);
          //   text-decoration: underline;
          // }
        }
      }
    
  }
}

@media screen and (max-width: 767px) {
  .homeMainWrapper {

    padding: 30px 16px !important;

    .homeMainTop {
      display: flex;
      overflow-x: auto;
      gap: 20px;
      flex-wrap: wrap;
      min-height: 500px !important;
      justify-content: center;
    }


    .homeMainBottom {
      display: none;
    }
  }


}
