.manageTestsWrapper {
  width: 100%;
  display: flex;

  .manageTestsRight {
    flex: 5;

    .manageTestsMainWrapper {
      padding: 30px 64px;

      .manageTestsMainTop {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & > h3 {
          color: var(--text-silver-color);
        }

        .addClientBtn {
          height: 36px;
          border-radius: 16px;
          background-color: #000;
          color: #fff;
          padding: 6px 12px;
          display: flex;
          align-items: center;
          outline: none;
          border: none;
          cursor: pointer;

          & > span {
            display: flex;
            align-items: center;
            margin-left: 4px;

            .addIcon {
              color: white;
              font-size: 20px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .manageTestsMainWrapper {
    padding: 30px 16px !important;

    .manageTestsMainTop {
      margin-top: 10px;
      display: flex;
      flex-direction: column-reverse;
      gap: 10px;
    }



  }
}
